<h4><img style='width:60px; border-radius:50%;' src='<%= @user.picture %>' > Hello, <%= @user.name %> </h4>

        <section id="accordions">
            <div class="container">
                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="pink-underline small-bottom-padding">Home Page</h2>
                        <p>This is where you can see all of the songs that have posted. Click <a href="/options"> here</a> to see more options. Enjoy!</p>
                            <ul>
                            <% @songs.reverse.each do |song| %> 
                            
                                <li>
                                    <div class="accordion round-corners light-blue-background">
                                        <div class="accordion-headline">
                                            <h4><%= song.name %></h4>
                                        </div>
                                        <div class="accordion-content">
                                        
                                            <p><%= song.content %></p> 
                                            <% binding.pry %>
                                            <p><a href="/band_profile/<%= song.band.id %>"><%= song.band.name %></a></p>
                                            
                                        </div>
                                    </div>
                                </li>
                         
                            <% end %>
                            </ul>
                        
                    </div>
                </div>
            </div>
        </section>
        
<p>
   <a class="button" href="/bands">Bands</a>
   <a class="button" href="/users">Users</a>
</p>
